:host {
  body {
    background-color: var(--ion-color-dark);
  }

  ion-content {
    --background: linear-gradient(135deg, var(--ion-color-dark), var(--ion-color-primary));
  }

  ion-item {
    background-color: #333;
    --border-radius: 8px;
    margin-bottom: 10px;
  }

  ion-label {
    color: white;
    font-size: 16px;
    font-weight: bold;
  }

  ion-row.header-row {
    background-color: #77aa35;
    color: white;
    font-weight: bold;
  }

  ion-row.data-row {
    background-color: #f2f2f2;
  }
  
  ion-row.data-row.odd {
    background-color: #e2e2d8;
  }

  ion-row.data-row.selected {
    background-color: #6f7360;
    color: white;
  }

  ion-button {
    margin: 0;
    width: 100%;
    height: 3rem;
  }

  .ctrl-btn {
    width: 80%;
  }

  ion-input {
    --background: white;
    padding: 8px;
    border-radius: 5px;
  }

  ion-select {
    background: white;
    border-radius: 5px;
    padding-right: 10px;
  }

  .center {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
  }

  .main-grid {
    padding: 15px;
    max-width: 100px;
    margin: auto;
  }

  .m-b-5 {
    margin-bottom: 10px;
  }

  ion-text {
    width: 90px;
    color: white;
    font-weight: bold;
    font-size: 1.2em; /* Use a relative unit for font size */
  }

  #scan-btn {
    width: auto; /* Make scan button smaller while keeping it wide */
    height: 90%;
    /* font-size: 14px; */
    margin-left: .5rem;
    --ion-color-base: rgb(255, 193, 7) !important;
  }

  #print-btn {
    margin-left: .5rem;
  }

  .scan-box {
    border: 2px solid #fff;
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);
    content: "";
    display: block;
    left: 50%;
    height: 300px;
  }

  .scan-stop-btn {
    position: center;
    bottom: 10%;
    width: 93%;
    z-index: 11;
  }

  /* Adjust input text box width */
  ion-input.wider {
    width: 150px; /* Adjust the width as needed */
  }

  .total-price {
    color: white;
  }
}