<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">{{(employee$ | async)?.Name}} "{{(employee$ | async)?.UserID}}" </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [style.--background]="scanning ? '#00000000' : ''">
  <ion-grid *ngIf="!scanning">
    <ion-row>
      <ion-col>
        <ion-row class="center m-b-5">
          <ion-text>Artcode:&nbsp;&nbsp;</ion-text>
          <ion-input placeholder="Enter Artikelcode" [(ngModel)]="artcode"></ion-input>
        </ion-row>
        <ion-row class="center">
          <ion-text>Label:&nbsp;&nbsp;</ion-text>
          <ion-input placeholder="Enter label" [(ngModel)]="label"></ion-input>
        </ion-row>
      </ion-col>
      <ion-col class="center">
        <ion-button id="scan-btn" shape="round" color="danger" (click)="handleScanClick($event)">SCAN</ion-button>
      </ion-col>
    </ion-row>
    <ion-row><ion-col><ion-row class="center"><ion-text>Opmerking:&nbsp;&nbsp;</ion-text><ion-input
            placeholder="Artikel Opmerking" [(ngModel)]="description"></ion-input></ion-row></ion-col></ion-row>
    <ion-row>
      <ion-col>
        <ion-row class="center">
          <ion-text>Prijs:&nbsp;&nbsp;</ion-text>
          <ion-input placeholder="SKU prijs" [(ngModel)]="price"></ion-input>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="center">
          <ion-text>Aktie:&nbsp;&nbsp;</ion-text>
          <ion-input placeholder="SKU aktie prijs" [(ngModel)]="newprice"></ion-input>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row class="center">
          <ion-text>Qnty:&nbsp;&nbsp;</ion-text>
          <ion-input placeholder="Enter qnty" [(ngModel)]="quantity"></ion-input>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row class="center">
          <ion-input class="m-r-5" value="1"></ion-input>
          <ion-button color="success" (click)="handleAddClick($event)">Add</ion-button>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="danger" (click)="handleDeleteClick($event)">Delete</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="tertiary" (click)="clearFields()" aria-label="Clear selected items">Clear</ion-button>
      </ion-col>

      <ion-col>
        <ion-button color="secondary" (click)="handleSearchClick($event)">Zoeken</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-row class="center">
        <ion-col>
          <ion-text>Printer:&nbsp;&nbsp;</ion-text>
        </ion-col>
        <ion-col>
          <ion-select [(ngModel)]="printer" aria-label="printer" placeholder="Select printer">
            <ion-select-option value="Printer-1">Printer-1</ion-select-option>
            <ion-select-option value="Printer-2">Printer-2</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col>
          <ion-button color="tertiary" (click)="handlePrintClick()">Print</ion-button>
        </ion-col>
      </ion-row>
    </ion-row>
  </ion-grid>
  <ion-content *ngIf="!scanning">
    <ion-grid>
      <!-- Table Header -->
      <ion-row class="header-row">
        <ion-col>Article</ion-col>
        <ion-col>Quantity</ion-col>
        <ion-col>Rate</ion-col>
        <ion-col>Total</ion-col>
      </ion-row>

      <!-- Table Data -->
      <ion-row class={{row.class}} *ngFor="let row of rows; let id = index" (click)="handleRowClick(id)">
        <ion-col>{{row.article}}</ion-col>
        <ion-col>{{row.quantity}}</ion-col>
        <ion-col>{{row.rate}}</ion-col>
        <ion-col>{{row.total}}</ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
  <ion-row class="scan-stop-btn" *ngIf="scanning">
    <ion-col class="ion-no-padding">
      <ion-button color="danger" expand="block" (click)="stop_camera()"
        >STOP</ion-button
      >
    </ion-col>
  </ion-row>
  <div class="scan-box" *ngIf="scanning"></div>
</ion-content>