<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">Oredr: {{order.barcode}} </ion-title>
  </ion-toolbar> </ion-header>

  <ion-content [fullscreen]="true">
  <ion-content>
    <ion-grid>
      <!-- Table Header -->
      <ion-row class="header-row">
        <ion-col>Artcode</ion-col>
        <ion-col>Price</ion-col>
        <ion-col>Qty.</ion-col>
        <ion-col>Total</ion-col>
      </ion-row>

      <!-- Table Data -->
      <ion-row class="data-row" [ngClass]="{'selected': selectedRow === id, 'odd': id % 2 == 1}" *ngFor="let row of order.orderLines.OrderLine; let id = index" (click)="selectRow(id)">
        <ion-col>{{row.product.ART_CODE}}</ion-col>
        <ion-col>{{row.product.prijs}}</ion-col>
        <ion-col>{{row.quantity}}</ion-col>
        <ion-col>{{row.total}}</ion-col>
      </ion-row>
      
      <ion-row class="print-btn">
        <ion-col>
          <ion-button color="success" expand="block" (click)="handlePrintClick()">"bill duplicate" PRINT</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>