<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">Oredr: [ID] </ion-title>
  </ion-toolbar> </ion-header>

  <ion-content [fullscreen]="true">
  <ion-content>
    <ion-grid>
      <!-- Table Header -->
      <ion-row class="header-row">
        <ion-col>Artcode</ion-col>
        <ion-col>Price</ion-col>
        <ion-col>Qty.</ion-col>
        <ion-col>Total</ion-col>
      </ion-row>

      <!-- Table Data -->
      <ion-row class="data-row">
        <ion-col>Knv000001982</ion-col>
        <ion-col>12.9</ion-col>
        <ion-col>2</ion-col>
        <ion-col>40.00</ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-content>