<ion-header collapse="fade" [translucent]="true">
  <ion-toolbar color="dark">
    <ion-title color="light">Today's order numbers ({{today}})</ion-title>
  </ion-toolbar> </ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row class="center">
          <ion-text>Verk ID:&nbsp;&nbsp;</ion-text>
          <ion-input placeholder="Verkoper nummer" [(ngModel)]="salesmanId"></ion-input>
          <ion-button color="danger" (click)="handleSearchClick()">Search</ion-button>
        </ion-row>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-row class="center">
          <ion-text>Verkoper:&nbsp;&nbsp;</ion-text>
          <ion-input placeholder="Display Verkoper full name" [(ngModel)]="salesmanName"></ion-input>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-content>
    <ion-grid>
      <!-- Table Header -->
      <ion-row class="header-row">
        <ion-col>Order No</ion-col>
        <ion-col>Qty.</ion-col>
        <ion-col>Total</ion-col>
      </ion-row>

      <!-- Table Data -->
      <ion-row class="data-row" [ngClass]="{'selected': selectedRow === id, 'odd': id % 2 == 1}" *ngFor="let row of rows; let id = index" (click)="selectRow(id)">
        <ion-col>{{row.barcode}}</ion-col>
        <ion-col>{{row.quantity}}</ion-col>
        <ion-col>{{row.total}}</ion-col>
      </ion-row>

      <ion-row class="total-price" *ngIf="order !== null && rows.length > 0">
        <ion-col></ion-col>
        <ion-col size="auto">Total: </ion-col>
        <ion-col size="auto">{{total_price}}</ion-col>
      </ion-row>

    </ion-grid>
  </ion-content>
</ion-content>